

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.leftImage {
  position: relative;
  width: auto;
  height: 156px;
  /* background-color: powderblue; */
  right: 115px;
}

.image {
  max-width: 190px;
  height: 140px;
}

.centerImage {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 156px;
}

/* .mainFrame{ 
  width: 100%;
  height: 100%;
  display: flex;  
} */


.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px red solid;
}

.dialogLeft {
  position: absolute;
  top: 35%;
  left: 12%;
  border: 1px green solid;
}

.dialogRight {
  position: absolute;
  top: 35%;
  left: 78%;
  border: 1px green solid;
}

.dialogCenter {
  position: absolute;
  top: 180px;
  left: 28%;
  border: 1px green solid;
}

.enemyLife {
  position: absolute;
  top: 4px;
  left: 77%;
  border: 1px green solid;
}
.playerLife {
  position: absolute;
  top: 4px;
  left: 23%;
  border: 1px green solid;
}

.nextButton {
  position: absolute;
  top: 312px;
  left: 40%;
}

.battleDetailCard {
  position: absolute;
  top: 4px;
  left: 28%;
  border: 2px green solid;
}

.horizontal-shake {
  animation: horizontal-shaking 0.35s 2;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

.attackEffect{
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

.enemyLifeBar {
  position: absolute;
  top: 4px;
  left: 588px;
  border: 1px green solid;
  width: 200px;
}
.playerLifeBar {
  position: absolute;
  top: 4px;
  left: 114px;
  border: 1px green solid;
  width: 20%;
}

.test{
    background-color: yellow;
}

.minWidth {
  width: 400px;
  height: 400px;
}

.noWarp {
  flex-wrap: no-wrap;
}

.enemy {
  background-color:#FCE2DB;
}
.player { 
background-color:#CFF5E7 ;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }


  
  .enemyBar { grid-area: 1 / 1 / 2 / 2; }
  .enemyImage { 
    grid-area: 1 / 2 / 2 / 3; 
    text-align: center;
  }
  .playerImage { grid-area: 2 / 1 / 3 / 2; }
  .playerBar { grid-area: 2 / 2 / 3 / 3; }
  .battleLog { grid-area: 3 / 1 / 4 / 3; }


  .dot {
    height: 25px;
    width: 205px;
    background-color: #AA8B56;
    border-radius: 100%;
    display: inline-block;
  }

  .enemyImageTag{
    max-width: 190px;
    height: 74px;
   
}


  .cardSize{
    height: 120px;
  }

    .workInProgress{
        height:30px;
        text-align:center;
    }
 
 
